<h1>Détail Book</h1>
<%= @books.title %>
<%= @books.author %>
<%= @books.year %>
<%= @books.resume %>
<%= @books.price %>
<%= link_to 'Edit', edit_book_path(book) %>
<%= link_to 'Back to Home', root_path %>
<%= link_to 'book list', books_path, class: 'btn btn-gradient'  %>
